# Salin file ini menjadi `.env` lalu isi nilainya.
# JANGAN commit .env ke GitHub.
DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="ganti-dengan-string-random-panjang"
NEXTAUTH_URL="http://localhost:3000"